@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt-sans-v17-cyrillic_latin-regular.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/pt-sans-v17-cyrillic_latin-700.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/bebas-neue-v14-latin-regular.woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'PT Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #42567A;
  background-color: #f4f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, a {
  color: #42567A;
}
